{{> head }}
{{> navbar }}


<div class="row" id="i-about">

    <div class="col-8">
        <h1 class="text-success">Node JS</h1>
        <p class="text-white">Node.js is an open-source, cross-platform JavaScript run-time environment that executes
            JavaScript code outside of a browser. JavaScript is used primarily for client-side scripting, in which
            scripts written in JavaScript are embedded in a webpage's HTML and run client-side by a JavaScript engine in
            the user's web browser. </p>
    </div>

    <div class="col-4">
        <img src="assets/img/node-js.jpeg" class="img-thumbnail">
    </div>

</div>


{{> footer }}